.wc-dna-elements-field {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    outline: 0;
    height: 30px;
}

.dna-modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    transition: 200ms ease-in-out;
}

.dna-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px #00000057;
    width: 500px;
    max-width: 90%;
    max-height: 95%;
    transition: 200ms ease-in-out;
    overflow: auto;
}

.dna-modal-body {
    padding: 20px;
}

.dna-modal-container.open {
    display: block;
}

.dna-modal-container.open .dna-modal {
    transform: translate(-50%, -50%) scale(1);
}

#wc-dnapayments-form {
    text-align: left;
    font-weight: normal;
}

#wc-dnapayments-cc-form .form-row {
    display: block;
    margin: 0 0 1em 0;
}

#wc-dnapayments-cc-form .form-row-wide {
    clear: both;
    width: 100%;
}

#wc-dnapayments-cc-form .form-row label {
    margin: 0;
}

#wc-dnapayments-form .clear {
    clear: both;
}

#wc-dnapayments-form .woocommerce-error {
    background-color: #e2401c;
    padding: 1em 1.618em;
    margin-bottom: 2.617924em;
    color: #fff;
    margin-left: 0;
    border-radius: 2px;
}

#dnapayments_google_pay_container iframe,
#dnapayments_apple_pay_container iframe {
    width: 100%;
}

.dnapayments-footer {
    font-weight: normal;
    text-align: left;
    margin-top: 1.2em;
}

.dnapayments-footer p {
    margin: 0;
}

.dnapayments-footer img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.dna-payments-hosted-field-invalid {
    border-color: #dc3545;
}

@media (min-width: 768px) {
    #dna-card-cvc-token-container {
        width: 75%;
    }

    #wc-dnapayments-cc-form .form-row-first {
        width: 47.0588235294%;
        float: left;
        margin-right: 5.8823529412%;
        clear: both;
    }

    #wc-dnapayments-cc-form .form-row-last {
        width: 47.0588235294%;
        float: right;
        margin-right: 0;
    }
}