.wc-dnapayments-card-selected {
    position: absolute !important;
    z-index: 10;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
}

/** BLOCK checkout styles **/

.wc-block-dnapayments-card-elements {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wc-block-dnapayments-card-elements .wc-block-gateway-container {
    width: 100%;
}

.wc-block-dnapayments-card-elements .wc-block-gateway-container label {
    pointer-events: none;
}

.wc-block-dnapayments-card-elements .wc-block-dnapayments-card-element-small {
    width: calc(50% - 8px);
}

.wc-block-components-checkout-place-order-button[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
}

/** CLASSIC checkout styles **/

.wc-classic-dnapayments-card-elements {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wc-classic-dnapayments-gateway-container {
    width: 100%;
    font-size: 16px;
    margin: 8px 0;
}

.wc-classic-dnapayments-gateway-input-container {
    position: relative;
}

.wc-classic-dnapayments-gateway-container label {
    color: #757575;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.wc-classic-dnapayments-gateway-input {
    background-color: #fff;
    border: 1px solid #50575e;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2b2d2f;
    cursor: text;
    font-family: inherit;
    font-size: 1em;
    height: 3em;
    line-height: 1.375;
    margin: 0;
    padding: .75em 0 .75em 16px;
    width: 100%;
}

.wc-classic-dnapayments-card-element-small {
    width: calc(50% - 8px);
}

.dna-modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    transition: 200ms ease-in-out;
}

.dna-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px #00000057;
    width: 500px;
    max-width: 90%;
    max-height: 95%;
    transition: 200ms ease-in-out;
    overflow: auto;
}

.dna-modal-body {
    padding: 20px;
}

.dna-modal-container.open {
    display: block;
}

.dna-modal-container.open .dna-modal {
    transform: translate(-50%, -50%) scale(1);
}

#wc-dnapayments-form {
    text-align: left;
    font-weight: normal;
}

#wc-dnapayments-form .clear {
    clear: both;
}

#wc-dnapayments-form .woocommerce-error {
    background-color: #e2401c;
    padding: 1em 1.618em;
    margin-bottom: 2.617924em;
    color: #fff;
    margin-left: 0;
    border-radius: 2px;
}

#dnapayments_google_pay_container iframe,
#dnapayments_apple_pay_container iframe {
    width: 100%;
}

.dnapayments-footer {
    clear: both;
    font-weight: normal;
    text-align: left;
}

.dnapayments-footer::before {
    content: '';
    display: block;
    clear: both;
    margin-bottom: 1.2em;
}

.dnapayments-footer p {
    margin: 0 !important;
}

.dnapayments-footer img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.dna-payments-hosted-field-invalid {
    border-color: #dc3545;
}

@media (min-width: 768px) {
    #dna-card-cvc-token-container {
        width: 75%;
    }
}